.pokemonTeamElement{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background-color:aliceblue;
    border-radius: 50%;
}

.pokemonTeamElement img {
    width: 75px;
}
.chooseTeam{
    display: flex;
    flex-direction: column;
    align-items: center;
}