.pokemonTeamElement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
}

.pokemonTeamElement img {
  width: 100px;
}
.chooseTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oakImg {
  margin-top: 5px;
  background-color: #fb8500;
  border-radius: 50%;
  padding: 5%;
}

.oakImg:hover {
  transform: scale(1.1);
}
