.pokemonTeamElement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
}

.pokemonTeamElement img {
  width: 80px;
}
.chooseTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.removePokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  background-color: #023047;
  border-radius: 50%;
  padding: 5%;
  width: 50px;
  height: 50px;
}

.oakImg {
  width: 30px;
  height: 30px;
}

.oakImg:hover {
  transform: scale(1.1);
}
