.viewPokemonLeft img {
  height: 200px;
}

.mainAboutPokemon {
  background-color: white;
  padding: 20px 80px 20px 20px;
  border-radius: 5%;
}

.nameOrder {
  text-transform: capitalize;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 25px;
}

.viewPokemonRight {
  padding: 20px 50px 20px 50px;
  background-color: #ffb703;
  border-radius: 10%;
}

.pokemonDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.spritesChange {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.spritesChange img {
  height: 40px;
}

.spritesChange img:hover {
  transform: scale(1.2);
}

.infoHeader {
  font-size: 23px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.infoValue {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 10px 0 0 0;
}
