#header {
  font-size: 20px;
}

#main {
  display: flex;
  flex-direction: row;
}

#nav{
  display: flex;
  flex: row;
  justify-content: center;
}

#pokemonTeam{
  width: 50%;
}

#pokemonInfo {
  width: 50%;
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
}

.showTypes {
  margin: 50px 0 50px 0;
  padding: 0 250px 0 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap:5px;
}

.showTypes li {
  list-style: none;
  text-transform: uppercase;
  border: solid 1px rgb(212, 212, 212);
  padding: 3px 15px 3px 15px;
  border-radius: 5px;
}

.showTypes li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.showPokemon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
