#mainPage {
  background-image: url(./img/backgroundImage.png);
  background-size: 1000px;
}
.showTypes {
  list-style: none;
  text-transform: uppercase;
  border: solid 1px rgb(212, 212, 212);
  padding: 3px 15px 3px 15px;
  border-radius: 5px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.showTypes:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.showPokemon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.inputSearch::placeholder {
  font-size: 14px;
}
