#header {
  font-size: 20px;
}

#main {
  display: flex;
}

#content {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
#aside {
  width: 40%;
  display: flex;
  justify-content: center;
}
